<div class="login-container">
  <div class="login-header">
    <h2>ARMY INTELLIGENCE PORTAL</h2>
    <p>Secure Multi-Role Login</p>
  </div>

  <div class="login-body">
    <input type="text" placeholder="Username" [(ngModel)]="username" />

    <input type="password" placeholder="Password" [(ngModel)]="password" *ngIf="step == 2 || step == 3"/>
    
    <input type="text" placeholder="CODE" [(ngModel)]="Code" *ngIf="step == 3"/>

    <button (click)="loginStep()">{{ getButtonText() }}</button>
  </div>

  <div class="login-footer">
    <p>Authorized Access Only</p>
  </div>
</div>
