<div class="user-crud">
  <form [formGroup]="userForm" (ngSubmit)="addOrUpdateUser()">
    <input formControlName="CNIC" placeholder="CNIC"/>
    <input formControlName="FirstName" placeholder="First Name" />
    <input formControlName="LastName" placeholder="Last Name" />
    <input formControlName="Username" placeholder="Username" />
    <select formControlName="Role" *ngIf="!editMode">
      <option value="Agent">Agent </option>
      <option value="Manager">Manager</option>
    </select>
    <input formControlName="Lat" placeholder="Latitude" />
    <input formControlName="long" placeholder="Longitude" />
    <input placeholder="Project Code" [(ngModel)]="projectCode" [ngModelOptions]="{standalone: true}"/>
    <input placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"/>
    <!-- <button type="button" *ngIf="editMode" (click)="decrypt()">Decrypt</button> -->
    <button type="submit">{{ editMode ? 'Update' : 'Add' }} User</button>
    <button type="button" (click)="cancelEdit()">Cancel</button>
  </form>

  <ng-container *ngIf="users.length !== 0">
    <div *ngFor="let role of userRoles" class="role-section">
      <h3>{{ role }}s</h3>
      <table border="1">
        <tr>
          <th>CNIC</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
          <th>Lat</th>
          <th>Long</th>
          <th>Code</th>
          <th>Password</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let user of getUsersByRole(role)">
          <td>{{ user.CNIC }}</td>
          <td>{{ user.FirstName }}</td>
          <td>{{ user.LastName }}</td>
          <td>{{ user.Username }}</td>
          <td>{{ user.Lat || '-' }}</td>
          <td>{{ user.long || '-' }}</td>
          <td *ngIf="role == 'Admin'">{{ roles[role].ProjectCode }}</td>
          <td *ngIf="role == 'Admin'">{{ roles[role].password }}</td>
          <td *ngIf="role == 'Agent'">{{ fetchCode(role,user )}}</td>
          <td *ngIf="role == 'Agent'">{{ fetchPassword(role,user) }}</td>
          <td *ngIf="role == 'Manager'">{{ getCode(role,user )}}</td>
          <td *ngIf="role == 'Manager'">{{ getPassword(role,user) }}</td>
          <td>
            <button (click)="editUser(user)">Edit</button>
            <button (click)="deleteUser(user.CNIC)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
  </ng-container>
  
  
</div>
